<form action="{% url 'todolist:add_work' %}" method="post">
    {% csrf_token %}

        <input type='text' name='work'><br>
        <input type="submit" value="Submit" /><br><br>

</form>

{% if todo_list %}
    <ol>
    {% for let in todo_list %}
	
        
{% if not let.completed %}
<li>
	{{ let.task }}
	<a href = "{% url 'todolist:work_done' pk=let.id %}"><button>Done</button></a>
	<a href = "{% url 'todolist:not_done' pk=let.id %}"><button>Not Done</button></a>
        <a href = "{% url 'todolist:remove_work' pk=let.id %}"><button>remove</button></a>
</li>
{% elif let.completed %}
<li>
	<strike>{{ let.task }}</strike>
	<a href = "{% url 'todolist:work_done' pk=let.id %}"><button>Done</button></a>
	<a href = "{% url 'todolist:not_done' pk=let.id %}"><button>Not Done</button></a>
	<a href = "{% url 'todolist:remove_work' pk=let.id %}"><button>remove</button></a>
</li>
{% endif %}
    {% endfor %}

    </ol>
{% else %}
    <p>No works are available.</p>
{% endif %}


